//  footer
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
//  lightgallery
script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lightgallery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-thumbnail.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-fullscreen.min.js')
//  custom JS
script(src='javascript/smoothscroll.js')
script(src='javascript/custom.js')
script(src='javascript/ya-metrika.js')
noscript
  .ya-metrika
    img(src="https://mc.yandex.ru/watch/37760275", style="position:absolute; left:-9999px;", alt="")
script(type='text/javascript').
  $(document).ready(function() {
    $("#lightgallery").lightGallery();
    $("#colyby-gallery").lightGallery();
    $("#magaz-gallery").lightGallery(); 
    $("#table-gallery").lightGallery(); 
  });
