
// Divider
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.card
	background: $color-initial none repeat scroll 0 0
	border: 3px solid $color-primary
	//display: flex
	//flex-direction: column
	//position: relative
	.image
		//display: block
		//flex: 0 0 auto
		padding: 0
		position: relative
		img
			//border-radius: inherit
			//display: block
			//height: auto
			//width: 100%
	.content
		border-color: $color-quinary
		border-style: solid none none
		border-width: 1px medium medium
		flex-grow: 1
		font-size: 1em
		margin: 0
		padding: 1em
