// footer
footer#footer
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12.contact-info
        .info-detail
          ul
            li
              h3 Контакти
            li
              i.fa.fa-calendar
              span
                b Понеділок - Неділя:
                |  з 8:00 до 23:00
            li
              i.fa.fa-map-marker
              span
                b Адреса:
                |  Львівська обл., Жовківський р-н.,
            li
              i.fa.fa-map-marker
              span
                b село:
                |  Воля-Гомулецька, вул. Озерна 6
            li
              i.fa.fa-phone
              span
                b Телефон:
                |  (097) 457 27 91
            li
              i.fa.fa-bus
              span
                b Маршрутка:
                |  22 від "Міленіуму"
            li
              i.fa.fa-car
              span
                b Брюховичі:
                |  поворот направо біля чебуречної.
            li
              i.fa.fa-facebook
              a.fblink(href='https://facebook.com/albatroz.lviv') @albatroz.lviv
      .col-lg-6.col-md-12.col-sm-12
        h3 Проїзд
        img.img-thumbnail(src='images/map.jpg', alt='')