// footer
footer#footer
  .container
    .row
      .col-lg-6.col-md-12.col-sm-12.contact-info
        .info-detail
          ul
            li
              h3.yellow Контакти
            li
              i.fa.fa-calendar.yellow
              span
                b.yellow Понеділок - Неділя:
                |  з 8:00 до 23:00
            li
              i.fa.fa-map-marker.yellow
              span
                b.yellow Адреса:
                |  Львівська обл., Жовківський р-н.,
            li
              i.fa.fa-map-marker.yellow
              span
                b.yellow село:
                |  Воля-Гомулецька, вул. Озерна 6
            li
              i.fa.fa-phone.yellow
              span
                b.yellow Телефон:
                |  (097) 457 27 91
            li
              i.fa.fa-bus.yellow
              span
                b.yellow Маршрутка:
                |  22 від "Міленіуму"
            li
              i.fa.fa-car.yellow
              span
                b.yellow Брюховичі:
                |  поворот направо біля чебуречної.
            li
              i.fa.fa-facebook.yellow
              a#fblink(href='https://facebook.com/albatroz.lviv') facebook.com/albatroz.lviv

      .col-lg-6.col-md-12.col-sm-12
        h3.yellow Проїзд
        img.img-thumbnail(src='images/map.jpg', alt='')