link(rel='icon',       type='image/x-icon' href='favicon.ico')
link(rel='manifest',   href='assets/manifest.json')
link(rel='stylesheet', href='styles/bootstrap.css', media='screen')
link(rel='stylesheet', href='styles/custom.css')
link(rel='stylesheet',
     href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css?display=swap')
link(rel='stylesheet', crossorigin='anonymous',
     href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css',
     integrity='sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=')
link(rel='stylesheet',
     href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap')
