nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  //a.navbar-brand(href='/')
  //  img(src='images/logo.png', alt='логотип бази Альбатрос')
  .d-flex.flex-grow-1
    // span.w-100.d-lg-none.d-block
    // hidden spacer to center brand on mobile
    a.navbar-brand.d-none.d-lg-inline-block(href='/')
      img(src='images/logo.png', alt='логотип бази Альбатрос')
    a.navbar-brand.mx-auto.d-lg-none.d-inline-block(href='#')
      img(src='images/logo-small.png', alt='логотип бази Альбатрос')
      span.ml-4 (097) 457 27 91 
    .w-100.text-right
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.navbar-toggler-icon
  #myNavbar.collapse.navbar-collapse.flex-grow-1.text-left
    ul.navbar-nav.ml-auto.flex-nowrap
      li.nav-item.active
        a.nav-link(href='/')
          | Головна
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='index.html#prices') Ціни
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='/', id='dropdown04', data-toggle='dropdown',
                                   aria-haspopup='true', aria-expanded='false') Проживання
        div.dropdown-menu
          a.dropdown-item(href='/hotel.html') Готель
          a.dropdown-item(href='/kolyby.html') Колиби
      li.nav-item
        a.nav-link(href='/altanki.html') Альтанки
      li.nav-item
        a.nav-link(href='/kafe.html') Кафе
      li.nav-item
        a.nav-link(href='/sauna.html') Сауна
      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(href='/', id='dropdown04', data-toggle='dropdown',
                                   aria-haspopup='true', aria-expanded='false') Меню
        div.dropdown-menu
          a.dropdown-item(href='/menu.html') Кафе
          a.dropdown-item(href='/banket.html') Банкетне
