// Open Graph Tags
meta(property='og:title', content='База відпочинку «Альбатрос»')
meta(property='og:description',
     content='Щиро запрошує Вас відпочити серед природи на берегу мальовничого озера.')
meta(property='og:site_name', content='Albatroz.lviv.ua')
meta(property='og:url', content='http://albatroz.lviv.ua')
meta(property='og:image', content='http://albatroz.lviv.ua/images/slide-one.jpg')
meta(property='og:type', content='place')
meta(property='og:locale', content='uk_UA')
// Tweeter Card Tags
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:title', content='База відпочинку «Альбатрос»')
meta(name='twitter:description',
     content='Щиро запрошує Вас відпочити серед природи на берегу мальовничого озера.')
meta(name='twitter:image', content='http://albatroz.lviv.ua/images/slide-one.jpg')
