div.container
  div.row#contacts
    div.col-md-6.contact-info
      div.info-detail
        ul
          li
            h3 КОНТАКТИ
          li
            i.fa.fa-calendar
            span <b>Понеділок - Неділя:</b>
              |  з 8:00 до 23:00
          li
            i.fa.fa-map-marker
            span <b>Адреса:</b>
            |  Львівська обл., Жовківський р-н.,
          li
            i.fa.fa-map-marker
            span <b>село:</b>
            |  Воля-Гомулецька, вул. Озерна 6
          li
            i.fa.fa-phone
            span <b>Телефон:</b>
            |  (097) 457 27 91
          li
            i.fa.fa-bus
            span <b>Маршрутка:</b>
            |  22 від "Міленіуму"
          li
            i.fa.fa-car
            span <b>Брюховичі:</b>
            |  поворот направо біля чебуречної. 
          li
            i.fa.fa-facebook
            span <b>Facebook:</b>
            |  <a href="http://facebook.com/albatroz.lviv">facebook.com/albatroz.lviv</a>

    div.col-md-6#gmap
      div.mapouter
        div.gmap_canvas
          iframe#gmap_canvas(width='450', height='250', src='https://maps.google.com/maps?q=%D1%81%D0%B5%D0%BB%D0%BE%20%D0%B2%D0%BE%D0%BB%D1%8F-%D0%B3%D0%BE%D0%BC%D1%83%D0%BB%D0%B5%D1%86%D1%8C%D0%BA%D0%B0&t=&z=11&ie=UTF8&iwloc=&output=embed', frameborder='0', scrolling='no', marginheight='0', marginwidth='0')

    //  FOOTER  //
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')

    //  lightgallery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lightgallery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-thumbnail.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-fullscreen.min.js')
    script(type='text/javascript').
      $(document).ready(function() {
        $("#lightgallery").lightGallery();
        $("#colyby-gallery").lightGallery();
        $("#magaz-gallery").lightGallery(); 
        $("#table-gallery").lightGallery(); 
      });

    //  Google Analitics
    script(async src='https://cdn.jsdelivr.net/ga-lite/latest/ga-lite.min.js') 
    <script>var galite = galite || {}; galite.UA = 'UA-80151883-1';</script>
