div.container
  div.row#contacts
    div.col-md-6.contact-info
      div.info-detail
        ul
          li
            h3 КОНТАКТИ
          li
            i.fa.fa-calendar
            span <b>Понеділок - Неділя:</b>
              |  з 8:00 до 23:00
          li
            i.fa.fa-map-marker
            span <b>Адреса:</b>
            |  Львівська обл., Жовківський р-н.,
          li
            i.fa.fa-map-marker
            span <b>село:</b>
            |  Воля-Гомулецька, вул. Озерна 6
          li
            i.fa.fa-phone
            span <b>Телефон:</b>
            |  (097) 457 27 91
          li
            i.fa.fa-bus
            span <b>Маршрутка:</b>
            |  22 від "Міленіуму"
          li
            i.fa.fa-car
            span <b>Брюховичі:</b>
            |  поворот направо біля чебуречної. 
          li
            i.fa.fa-facebook
            span <b>Facebook:</b>
            |  <a href="http://facebook.com/albatroz.lviv">facebook.com/albatroz.lviv</a>

    //div.col-md-6.col-md-offset-1.contact-info.text-left
    div.col-md-6.contact-map
      img.img-responsive.info-img(src='images/map.jpg')

    //////////////
    //  FOOTER  //
    //////////////
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    
    //  lightgallery
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lightgallery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-thumbnail.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/js/lg-fullscreen.min.js')

    //  Google Analitics
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80151883-1', 'auto');
      ga('send', 'pageview');
    
    //  Yandex.Metrika
    script(type='text/javascript').
      (function (d, w, c) { (w[c] = w[c] || []).push(function() { try {
        w.yaCounter37760275 = new Ya.Metrika({ id:37760275, clickmap:true, trackLinks:true, accurateTrackBounce:true });}
        catch(e) { } 
      });
      var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); }
      else { f(); } })(document, window, "yandex_metrika_callbacks");
    noscript
      div.ya-metrika
        img(src="https://mc.yandex.ru/watch/37760275" style="position:absolute; left:-9999px;" alt="")

    script(type='text/javascript').
      $(document).ready(function() {
        $("#lightgallery").lightGallery();
        $("#colyby-gallery").lightGallery();
        $("#magaz-gallery").lightGallery(); 
        $("#table-gallery").lightGallery(); 
      });
