head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Відпочинковий комплекс Альбатрос у селі Воля-Гомулецька.')
  meta(name='author', content='facebook.com/khaljava')

  <meta property="og:title" content="щиро запрошує Вас відпочити на берегу озера." />
  <meta property="og:site_name" content="Альбатрос" />
  <meta property="og:url" content="http://albatroz.lviv.ua" />
  <meta property="og:image" content="http://albatroz.lviv.ua/images/slide-one.jpg" />
  <meta property="og:type" content="place" />
  <meta property="og:locale" content="uk_UA" />

  <meta name="google-site-verification" content="6M9KHlpZp-bpHTDfP5evIiwOU3cjGTFpZ0eTOGCkpbw" />

  title Альбатрос - база відпочинку у селі Воля-Гомулецька
  link(rel="icon", href="favicon.ico", type="image/x-icon")
  link(rel="shortcut icon", href="favicon.ico", type="image/x-icon") 

  // insted of loading via CDN 2 files: bootstrap.3.3.7.css & cerulean.css
  link(rel='stylesheet', type='text/css', href='stylesheets/twbt-cerulean.min.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/custom.css', media='screen')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.19/css/lightgallery.min.css')
  //  link(href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300', rel='stylesheet', type='text/css')
