.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
  .navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-inverse-collapse')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand 
      b АЛЬБАТРОС
  .navbar-collapse.navbar-inverse-collapse.collapse(aria-expanded='false', style='height: 1px;')
    ul.nav.navbar-nav
      li.active
        a(href='http://albatroz.lviv.ua') головна
      li
        a(href='http://albatroz.lviv.ua/hotel') готель
      li
        a(href='http://albatroz.lviv.ua/kolyby') колиби
      li
        a(href='http://albatroz.lviv.ua/kafe') кафе
      li
        a(href='http://albatroz.lviv.ua/stolyky') столики
      li
        a(href='http://albatroz.lviv.ua/#prices') ціни
      li
        a(href='http://albatroz.lviv.ua/#contacts') контакти
      li
        a(href='http://albatroz.lviv.ua/#gmap') карта
