<section id="pricings-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">

    <div fxLayout="row" fxLayoutWrap="wrap">
      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <div class="">Вхід</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list dense class="mb-1">
              <mat-list-item><strong>Доросді 30 грн.</strong></mat-list-item>
              <mat-list-item><strong>Діти безкоштовно</strong></mat-list-item>
              <mat-list-item><strong>Стоянка 20 грн.</strong></mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <div class="">Готель</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list dense class="mb-1">
              <mat-list-item><strong>2х місний 350 грн./доба</strong></mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <div class="">Колиба</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list dense class="mb-1">
              <mat-list-item><strong>на 4 ліжка 600 грн./доба</strong></mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Pricing box -->
      <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50">
        <mat-card class="plan-pricing text-center p-0">
          <mat-card-title class="mat-bg-primary">
            <div class="card-title-text">
              <div class="">Альтанки</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-content>
            <mat-list dense class="mb-1">
              <mat-list-item><strong>На 10 чоловік 400 грн.</strong></mat-list-item>
              <mat-list-item><strong>На 20 чоловік 400 грн.</strong></mat-list-item>
              <mat-list-item><strong>На 30 чоловік 400 грн.</strong></mat-list-item>
              <mat-list-item><strong>На 40 чоловік 400 грн.</strong></mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</section>