<section id="intro-section" class="home-intro-section">
  <div class="container" fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
    <!-- flex 50 -->
    <div fxFlex="50">
      <h1 class="home-intro-title">База відпочинку Альбатрос</h1>
      <div class="home-intro-desc">
        Втомились від шаленного ритму великого міста та щоденної рутини, скучили за свіжим повітрям та мальовничою природою - тоді ми запрошуємо Вас відвідати базу-відпочинку "Альбатрос". Ми розташовані неподалік від Львова, в кількох кілометрах від смт Брюховичі, у селі Воля-Гомулецька.
        <br>
        Мальовниче озеро та неповторний краєвид немов запрошують Вас прогулятись по берегу, відпочити за затишними столиками чи погодувати лебедів. Стоянка, кафе з українською кухнею, готель чи окремі колиби, привітний персонал створять умови для повноцінного відпочинку Вас та вашої компанії.
      </div>
    </div>
    <!-- span 30px -->
    <span fxFlex.lt-md="30px" fxFlex="0"></span>
    <!-- flex 50 mat-card-image-->
    <div fxFlex="50">
      <img src="assets/images/slide-one-square.jpg" [style.margin]="'20 0 0 0 !important'">
    </div>

  </div>
</section>