//- hotel.jade
doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//UK"
html(lang='uk')
  include head.jade
  body
    include navbar.jade
    include sections/sect-prices.jade
    include sections/sect-contact.jade
    include footer.jade
