<!DOCTYPE html>
html(lang='uk')
  include ./partials/head.jade
  body
    include ./partials/navbar.jade
    div.container
      div.row#slider
        div.col-md-12
          img.img-responsive.img-rounded(src="images/slide-four.jpg" alt="Main Logo")

      div.row#service
        div.col-md-5
          h2 Готель
          blockquote.blockquote
            p на 9ть двомісних номерів. В номерах є все необхідне для комфортного проживання - журнальний столик, шафа для одягу, телевізор, туалет із душем, а з вікна відкривається краєвид на озеро. У вартість номера входить постіль та рушник.
            p Вартість за номер - 350 грн./доба

        div.col-md-7
          div.demo-gallery
            ul#lightgallery
              li(data-src='images/medium/hot-3-md.jpg', data-sub-html='<p>хол 2го поверху</p>')
                a(href='')
                  img.img-responsive(src='images/thumbs/hot-3-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='images/medium/hot-4-md.jpg', data-sub-html='<p>фото номера</p>')
                a(href='')
                  img.img-responsive(src='images/thumbs/hot-4-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='images/medium/hot-5-md.jpg', data-sub-html='<p>фото номера</p>')
                a(href='')
                  img.img-responsive(src='images/thumbs/hot-5-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='images/medium/hot-6-md.jpg', data-sub-html='<p>фото номера</p>')
                a(href='')
                  img.img-responsive(src='images/thumbs/hot-6-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='images/medium/hot-7-md.jpg', data-sub-html='<p>душова кімната в номері</p>')
                a(href='')
                  img.img-responsive(src='images/thumbs/hot-7-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='images/medium/hot-8-md.jpg', data-sub-html='<p>вид з вікна номера</p>')
                a(href='')
                  img.img-responsive(src='images/thumbs/hot-8-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')

    include ./partials/footer.jade
