//- hotel.jade
doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//UK"
html(lang='uk')
  include ./partials/head.jade
  body
    include ./partials/navbar.jade
    div.container
      div.col-md-12
        img.img-responsive.img-rounded(src="images/slide-four.jpg" alt="Main Logo")

      div.col-md-12
        h2 Готель
        div.panel.panel-default
          div.panel-body
            p на 9ть двомісних номерів. В номерах є все необхідне для комфортного проживання - журнальний столик, шафа для одягу, телевізор, туалет із душем, а з вікна відкривається краєвид на озеро. У вартість номера входить постіль та рушник.
            | Вартість за номер - 300 грн./доба
      
      div.col-md-12
        div.demo-gallery
          ul#lightgallery
            li(data-src='https://img-fotki.yandex.ru/get/54004/179541099.0/0_142a26_a267fea8_orig.jpg', data-sub-html='<p>хол 2го поверху</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-3-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/26439/179541099.0/0_142a27_dceea11b_orig.jpg', data-sub-html='<p>фото номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-4-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/54004/179541099.0/0_142a28_43c8b959_orig.jpg', data-sub-html='<p>фото номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-5-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/28292/179541099.0/0_142a29_6f50706e_orig.jpg', data-sub-html='<p>фото номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-6-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/61248/179541099.0/0_142a2a_5832c489_orig.jpg', data-sub-html='<p>душова кімната в номері</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-7-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/30602/179541099.0/0_142a2b_7057ce3e_orig.jpg', data-sub-html='<p>вид з вікна номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-8-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')

    include ./partials/footer.jade
