<!DOCTYPE html>
html(lang='uk')
  include ./partials/head.jade
  body
    include ./partials/navbar.jade
    div.container
      
      //  contacts section
      div.row.baza
        div.col-md-12
          img.img-responsive(alt='База відпочинку Альбатрос неподалік Львова у селі Воля-Гомулецька', src='https://image.ibb.co/i38bY5/slide_one.jpg')      
          h1.header-one База відпочинку Альбатрос

      //  service section
      div#service.row
        div.col-md-12
          blockquote.blockquote
            p Втомились від шаленного ритму великого міста та щоденної рутини, скучили за свіжим повітрям та мальовничою природою - тоді ми запрошуємо Вас відвідати базу-відпочинку "Альбатрос". Ми розташовані неподалік від Львова, в кількох кілометрах від смт Брюховичі, у селі Воля-Гомулецька. Мальовниче озеро та неповторний краєвид немов запрошують Вас прогулятись по берегу, відпочити за затишними столиками чи погодувати лебедів. Стоянка, кафе з українською кухнею, готель чи окремі колиби, привітний персонал створять умови для повноцінного відпочинку Вас та вашої компанії.

      // about section
      div#about.row.about.text-center

        div.col-md-4.col-sm-6
          h2.header-two Готель
          img.img-rounded(alt='готель на базі відпочинку Альбатрос неподалік Львова у селі Воля-Гомулецька', src='https://image.ibb.co/gBMft5/about-hotel.jpg')
          div.caption
            p На території комплексу розташований готель з девятьма затишними 2-х місними номерами.

        div.col-md-4.col-sm-6
          h2.header-two Кафе-Крамничка
          img.img-rounded(alt='кафе на базі відпочинку Альбатрос неподалік Львова у селі Воля-Гомулецька', src='http://image.ibb.co/kfzm0k/about_kafe_min.jpg')
          div.caption
            p Тут можна придбати проходжуючі напої та скуштувати свіжоприготовані страви української кухні.
    
        div.col-md-4.col-sm-6
          h2.header-two Столики
          img.img-rounded(alt='столики беседки на базі відпочинку неподалік Львова у селі Воля-Гомулецька', src='http://image.ibb.co/gRvFt5/about_stolyk_min.jpg')
          div.caption
            p З мангалом та дашком, щоб яскраве сонце чи дощ не зупсували відпочинок Вам та вашій компанії.

      //  prices section 
      section#prices.text-center

        div.row
          div.col-md-4.col-sm-6
            h2.header-two Вхід
            table.table
              tbody
                tr
                  td Доросді
                  td 30 грн.
                tr
                  td Діти
                  td безкоштовно
                tr
                  td Стоянка
                  td 20 грн.

          div.col-md-4.col-sm-6
            h2.header-two Проживання
            table.table
              tbody
                tr
                  td Готель
                  td 2х місни
                  td 350 грн.
                tr
                  td Колиба
                  td 4 ліжка
                  td 400 грн.
          .col-md-4.col-sm-6
            h2.header-two Столики
            table.table
              tbody
                tr
                  td На 10 чоловік
                  td <b>300</b> грн.
                tr
                  td На 20 чоловік
                  td <b>300</b> грн.
                tr
                  td На 30 чоловік
                  td <b>300</b> грн.
                tr
                  td В'язанка дров
                  td <b>50</b> грн.
                    
    include ./partials/footer.jade
