//  contact section
section#contact.contact.text-center
  .container
    .row
      .contact-caption.clearfix
        .col-md-5.contact-info.text-left
          h3 контакти        
          .info-detail
            ul
              li
                i.fa.fa-calendar
                span Понеділок - Неділя:
                |  з 8:00 до 23:00
              li
                i.fa.fa-map-marker
                span Адреса:
                |  Львівська обл., Жовківський р-н., вул. Озерна 6
              li
                i.fa.fa-phone
                span Телефон:
                |  (097) 457 2791
              li
                i.fa.fa-bus
                span Маршрутка:
                |  22
              li
                i.fa.fa-car
                span Машиною:
                |  бобятинська траса
              li
                i.fa.fa-facebook
                span Facebook:
                |  <a href="http://www.facebook.com/homuletska" target="_blank">fb.me/homuletska</a>
              li
                i.fa.fa-github
                span GitHub:
                |  <a href="http://www.github.com/khex/albatroz" target="_blank">github.com/khex/albatroz</a>

        .col-md-6.col-md-offset-1.contact-form
          h3 place for map