//  table section
section#table.demo-gallery.text-center
  .container
    h2 столики
    .row
      .col-md-4.col-sm-6
        .person-detail
          h3 Колиби
          p
            | Нахом и яркими впечатлениями! Поэтому мы вам предлагаем: теплый бассейн, тенисные корты, и даже небольшое футбольное поле. Для детей есть великолепная детская площадка! 
      .col-md-8.col-sm-6 
        .demo-gallery
          ul#table-gallery
            li(data-src='https://img-fotki.yandex.ru/get/51592/179541099.0/0_142a48_671f48cb_orig.jpg', data-sub-html='<p>цетральний столик на 30 осіб</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-1-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a49_4dba3139_orig.jpg', data-sub-html='<p>цетральний столик на 30 осіб</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-2-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a4a_a93ced8d_orig.jpg', data-sub-html='<p>столик на 20 чоловік</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-3-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a4b_4f87ec0c_orig.jpg', data-sub-html='<p>столик на 10 чоловік</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-4-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a4c_7b1aab8c_orig.jpg', data-sub-html='<p>на території комплексу розташовано 24 столики</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-5-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a4d_9172fdc_orig.jpg', data-sub-html='<p>столик на 20 чоловік</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-6-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/94372/179541099.0/0_142a4e_228836a4_orig.jpg', data-sub-html='<p>столик на 20 чоловік</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-7-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/94372/179541099.0/0_142a4f_551875ed_orig.jpg', data-sub-html='<p>столик на берегу озера</p>')
              a(href='')
                img.img-responsive(src='images/living/tab-8-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')