//  service section
section#service.service.text-center
  .container
    .row
      .col-md-12.col-sm-12
        .service-body
          h4 це відпочинковий комплекс, що розташований у с. Воля-Гомулецька, щиро запрошує Вас відпочити на берегу озера. Свіже повітря та неймовірний пезаж залишать незабутні враження.  Соянка, пісчаний пляж для замаги, облаштовані місця для купання. Бла-бла-бла все для відпочинку та оримання задоволення вам та вашій компанії.