//  magaz section
section#magaz.demo-gallery.text-center
  .container
    h2 кафе-крамничка
    .row
      .team-heading.text-center
        .col-md-8.col-sm-6 
          .demo-gallery
            ul#magaz-gallery
              li(data-src='https://img-fotki.yandex.ru/get/29815/179541099.0/0_142a50_8eeadf10_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-1-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='https://img-fotki.yandex.ru/get/29815/179541099.0/0_142a51_c3f0658c_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-2-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='https://img-fotki.yandex.ru/get/47741/179541099.0/0_142a52_846e256e_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-3-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='https://img-fotki.yandex.ru/get/47741/179541099.0/0_142a53_9a6a8eeb_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-4-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='https://img-fotki.yandex.ru/get/53211/179541099.0/0_142a54_553ed646_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-5-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='https://img-fotki.yandex.ru/get/29815/179541099.0/0_142a55_42d38486_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-6-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a56_3751ff1a_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-7-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
              li(data-src='https://img-fotki.yandex.ru/get/25939/179541099.0/0_142a57_978cc5b_orig.jpg')
                a(href='')
                  img.img-responsive(src='images/living/mag-8-thumb.jpg')
                  .demo-gallery-poster
                    img(src='images/zoom.png')
        .col-md-4.col-sm-6
          .person-detail
            p
              | Нахом и яркими впечатлениями! Поэтому мы вам предлагаем: теплый бассейн, тенисные корты, и даже небольшое футбольное поле. Для детей есть великолепная детская площадка!
