//  contact section
section#contact.contact.text-center
  .container
    .row
      .contact-caption.clearfix
        .col-md-5.contact-info.text-left
          h3 контакти        
          .info-detail
            ul
              li
                i.fa.fa-calendar
                span Понеділок - Неділя:
                |  з 8:00 до 23:00
              li
                i.fa.fa-map-marker
                span Адреса:
                |  Львівська обл., Жовківський р-н.,
              li
                i.fa.fa-map-marker
                span село:
                |  Воля-Гомулецька, вул. Озерна 6
              li
                i.fa.fa-phone
                span Телефон:
                |  (097) 457 27 91
              li
                i.fa.fa-bus
                span Маршрутка:
                |  22 від "Міленіуму"
              li
                i.fa.fa-car
                span Брюховичі:
                |  поворот направо біля чебуречної. 
              li
                i.fa.fa-facebook
                span Facebook:
                |  www.facebook.com/homuletska
        .col-md-6.col-md-offset-1.contact-info.text-left
          h3 карта
          .image
            img(src='images/map.jpg')