//  prices section
section#prices
  .container
    .row
      .col-md-4.col-sm-6
        p Вхід: 20 грн.
        p Стоянка: 30 грн. 
        p Столик на 10 людей: 150 грн. 
        p Столик на 20 людей: 150 грн.
        p Столик на 30 людей: 150 грн.
        p Дрова: 30 грн.
      .col-md-4.col-sm-6
        p Готель: 300 грн. за 2х місний номер.
        p Столик на 10 людей: 150 грн.
        p Столик на 10 людей: 150 грн.
        p Столик на 10 людей: 150 грн.
        p Столик на 10 людей: 150 грн.
        p Столик на 10 людей: 150 грн.
      .col-md-4.col-sm-6
        p Столик на 10 людей: 150 грн.
        p Столик на 10 людей: 150 грн.
        p Столик на 10 людей: 150 грн.