//  service section
section#service.service.text-center
  .metadata(hidden)
    div(itemscope, itemtype="http://schema.org/LocalBusiness")
      span(itemprop="name") Альбатрос
      span(itemprop="alternateName") База Альбатрос   
      span(itemprop="description") база відпочинку у селі Воля-Гомулецька
      span(itemprop="priceRange") $$
      span(itemprop="telephone") (097) 457-27-91
      span(itemprop="url") http://albatroz.lviv.ua
      span(itemprop="openingHours", content="Mo, Tu, We, Th, Fr, Sa, Su 08:00-23:00") Понеділок - Неділя: з 8:00 до 23:00
      div(itemscope, itemprop="address", itemtype="http://schema.org/PostalAddress")
        span(itemprop="addressCountry") UA
        span(itemprop="addressRegion") Львівська обл.
        span(itemprop="addressLocality") с. Воля-Гомулецька
        span(itemprop="streetAddress") вул. Озерна 6
      div(itemscope, itemprop="geo", itemtype="http://schema.org/GeoCoordinates")
        meta(itemprop="latitude", content="49.925427")
        meta(itemprop="longitude", content="23.996117")
  .container
    .row
      .col-md-12.col-sm-12
        .service-body
          h4 Втомились від шаленного ритму великого міста та щоденної рутини, скучили за свіжим повітрям та мальовничою природою? Тоді ми запрошуємо Вас у відпочинковий комплекс "Альбатрос", що розташований на березі озера, в кількох кілометрах від Брюхович, у селі Воля-Гомулецька. Величезне озеро та неповторний немов запрошують Вас прогулятись по берегу, відпочити за затишними столиками чи погодувати лебедів. Стоянка, кафе з українською кухнею, готель чи окремі колиби, привітний персонал створюють умови для повноцінного відпочинку Вас та вашої компанії.