//  service section
section#service.service.text-center
  .container
    .row
      .col-md-12.col-sm-12
        .service-body
          h4 Втомились від шаленного ритму великого міста та щоденної рутини, скучили за свіжим повітрям та мальовничою природою? Тоді ми запрошуємо Вас у відпочинковий комплекс "Альбатрос", що розташований на березі озера, в кількох кілометрах від Брюхович, у селі Воля-Гомулецька. Величезне озеро та неповторний немов запрошують Вас прогулятись по берегу, відпочити за затишними столиками чи погодувати лебедів. Стоянка, кафе з українською кухнею, готель чи окремі колиби, привітний персонал створюють умови для повноцінного відпочинку Вас та вашої компанії.