//  map container
#contact.api-map
  .container-fluid
    .row
      #map.col-md-12.map

// contact section starts here
section.contact
  .container
    .row
      .contact-caption.clearfix
        .contact-heading.text-center
          h2 contact us
        .col-md-5.contact-info.text-left
          h3 contact information        
          .info-detail
            ul
              li
                i.fa.fa-calendar
                span Monday - Friday:
                |  9:30 AM to 6:30 PM
            ul
              li
                i.fa.fa-map-marker
                span Address:
                |  123 Some Street , London, UK, CP 123
            ul
              li
                i.fa.fa-phone
                span Phone:
                |  (032) 987-1235
            ul
              li
                i.fa.fa-fax
                span Fax:
                |  (123) 984-1234      
            ul
              li
                i.fa.fa-envelope
                span Email:
                |  info@doctor.com
        .col-md-6.col-md-offset-1.contact-form
          h3 place for map