//  prices section
div.row
  div.col-md-4.col-sm-6
    ul.list-group
      li.list-group-item.active
        | Вхід
      li.list-group-item
        span.badge 20 грн.
        | Дорослі
      li.list-group-item
        span.badge безкоштовно
        | Діти
      li.list-group-item
        span.badge 30 грн.
        |  Стоянка

  div.col-md-4.col-sm-6
    ul.list-group
      li.list-group-item.active
        | Проживання
      li.list-group-item
        span.badge 200 грн.
        | Готель 2х місний номер
      li.list-group-item
        span.badge 270 грн.
        | Колиба на 4 ліжка

  div.col-md-4.col-sm-6
    ul.list-group
      li.list-group-item.active
        | Столики
      li.list-group-item
        span.badge 150 ₴
        | На 10 чоловік
      li.list-group-item
        span.badge 150 ₴
        | На 20 чоловік
      li.list-group-item
        span.badge 150 ₴
        | На 30 чоловік
      li.list-group-item
        span.badge 30 ₴
        | Одна в'язка дров
