//  living section
section#living.dg-block.text-center
  .container
    h2 проживання
    .row
      .col-md-8.col-sm-6
        .demo-gallery
          ul#lightgallery
            li(data-src='https://img-fotki.yandex.ru/get/60682/179541099.0/0_142a24_b20a170d_orig.jpg', data-sub-html='<p>готель</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-1-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/50260/179541099.0/0_142a25_433bd57f_orig.jpg', data-sub-html='<p>хол 2го поверху</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-2-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/54004/179541099.0/0_142a26_a267fea8_orig.jpg', data-sub-html='<p>хол 2го поверху</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-3-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/26439/179541099.0/0_142a27_dceea11b_orig.jpg', data-sub-html='<p>фото номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-4-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/54004/179541099.0/0_142a28_43c8b959_orig.jpg', data-sub-html='<p>фото номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-5-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/28292/179541099.0/0_142a29_6f50706e_orig.jpg', data-sub-html='<p>фото номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-6-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/61248/179541099.0/0_142a2a_5832c489_orig.jpg', data-sub-html='<p>душова кімната в номері</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-7-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
            li(data-src='https://img-fotki.yandex.ru/get/30602/179541099.0/0_142a2b_7057ce3e_orig.jpg', data-sub-html='<p>вид з вікна номера</p>')
              a(href='')
                img.img-responsive(src='images/thumbs/hot-8-thumb.jpg')
                .demo-gallery-poster
                  img(src='images/zoom.png')
      .col-md-4.col-sm-6
        .gallery-detail
          h3 Готель
          p на 9ть двомісних номерів. В номерах є все необхідне для комфортного проживання - журнальний столик, шафа для одягу, телевізор, туалет із душем, а з вікна відкривається краєвид на озеро. У вартість номера входить постіль та рушник.
          p Вартість за номер - <b>300</b> грн./доба

    .col-md-4.col-sm-6
      .gallery-detail
        h3 Колиби
        p Хочете заночувати великою компанією та по більш низькій ціні - значить вам потрібна колиба. Наші колиби розраховані на 4х чоловік. У вартість також входить набор постілі та накритий столик з мангалом біля самої колиби. 
        p Вартість колиби - <b>270</b> грн./доба

    .col-md-8.col-sm-6 
      .demo-gallery
        ul#colyby-gallery
          li(data-src='https://img-fotki.yandex.ru/get/55905/179541099.0/0_142a40_877b5502_orig.jpg', data-sub-html='<p>на території комплексу розташовано 4 колиби</p>')
            a(href='')
              img.img-responsive(src='images/thumbs/kol-1-thumb.jpg')
              .demo-gallery-poster
                img(src='images/zoom.png')
          li(data-src='https://img-fotki.yandex.ru/get/94372/179541099.0/0_142a41_a2c42044_orig.jpg', data-sub-html='<p></p>')
            a(href='')
              img.img-responsive(src='images/thumbs/kol-2-thumb.jpg')
              .demo-gallery-poster
                img(src='images/zoom.png')
          li(data-src='https://img-fotki.yandex.ru/get/94372/179541099.0/0_142a42_7df866c8_orig.jpg', data-sub-html='<p></p>')
            a(href='')
              img.img-responsive(src='images/thumbs/kol-3-thumb.jpg')
              .demo-gallery-poster
                img(src='images/zoom.png')
          li(data-src='images/thumbs/kol-4.jpg', data-sub-html='<p>при оренді колиби - безкоштовно столик з мангалом</p>')
            a(href='')
              img.img-responsive(src='https://img-fotki.yandex.ru/get/94372/179541099.0/0_142a43_fe87ef89_orig.jpg')
              .demo-gallery-poster
                img(src='images/zoom.png')
          li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a45_d7c90b52_orig.jpg', data-sub-html='<p></p>')
            a(href='')
              img.img-responsive(src='images/thumbs/kol-6-thumb.jpg')
              .demo-gallery-poster
                img(src='images/zoom.png')
          li(data-src='https://img-fotki.yandex.ru/get/29984/179541099.0/0_142a47_85782a26_orig.jpg', data-sub-html='<p></p>')
            a(href='')
              img.img-responsive(src='images/thumbs/kol-8-thumb.jpg')
              .demo-gallery-poster
                img(src='images/zoom.png')
