//  prices section
section#prices.prices.text-center
  .container
    h2 ціни
    .row
      .col-md-4.col-sm-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Вхід
          .panel-body
            table.table.no-border
              tbody
                tr
                  td дорослі 
                  td
                    | <b>20</b> грн.
                tr
                  td діти
                  td безкоштовно.
                tr
                  td Стоянка
                  td <b>30</b> грн.

      .col-md-4.col-sm-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Проживання
          .panel-body
            table.table.no-border
              tbody
                tr
                  td готель 
                  td 2х місний
                  td <b>300</b> грн.
                tr
                  td колиба
                  td 4 ліжка
                  td <b>270</b> грн.

      .col-md-4.col-sm-6
        .panel.panel-default
          .panel-heading
            h3.panel-title Столики
          .panel-body
            table.table.no-border
              tbody
                tr
                  td на 10 чоловік
                  td <b>150</b> грн.
                tr
                  td на 20 чоловік
                  td <b>150</b> грн.
                tr
                  td на 30 чоловік
                  td <b>150</b> грн.
                tr
                  td в'язка дров
                  td <b>30</b> грн.
