// about section
div.row.about.text-center#about

  div.col-md-4.col-sm-6
    div.thumbnail
      img.img-rounded(src='images/about-hotel-sqr.jpg', alt='готель на базі відпочинку Альбатрос у с. Воля Гомулецька')
      div.caption
        h3 Готель
        p На території комплексу розташований готель з девятьма затишними 2-х місними номерами. 

  div.col-md-4.col-sm-6
    div.thumbnail
      img.img-rounded(src='images/about-kafe-sqr.jpg', alt='кафе на базі відпочинку Альбатрос у с. Воля Гомулецька')
      div.caption
        h3 Кафе-Крамничка
        p Тут можна придбати проходжуючі напої та скуштувати свіжоприготовані страви української кухні.

  div.col-md-4.col-sm-6
    div.thumbnail
      img.img-rounded(src='images/about-stolyk-sqr.jpg', alt='столики беседки на базі відпочинку Альбатрос у с. Воля Гомулецька')
      div.caption
        h3 Столики
        p З мангалом та дашком, щоб яскраве сонце чи дощ не зупсували відпочинок Вам та вашій компанії.
