// about section
section#about.about.text-center
  .container
    .row
      .col-md-4.col-sm-6
        .single-about-detail.clearfix
          .about-img
            img.img-responsive(src='images/about-hotel.jpg', alt='готель на базі відпочинку Альбатрос у с. Воля Гомулецька')
          .about-details
            .pentagon-text
              h1 А
            h3 Готель
            p
              | На території комплексу розташований готель з девятьма затишними 2-х місними номерами. 
      .col-md-4.col-sm-6
        .single-about-detail
          .about-img
            img.img-responsive(src='images/about-kafe.jpg', alt='кафе на базі відпочинку Альбатрос у с. Воля Гомулецька')
          .about-details
            .pentagon-text
              h1 А
            h3 Кафе-Крамничка
            p
              | Тут можна придбати проходжуючі напої та скуштувати свіжоприготовані страви української кухні.
      .col-md-4.col-sm-6
        .single-about-detail
          .about-img
            img.img-responsive(src='images/about-stolyk.jpg', alt='столики беседки на базі відпочинку Альбатрос у с. Воля Гомулецька')
          .about-details
            .pentagon-text
              h1 А
            h3 Столики 
            p
              | З мангалом та дашком, щоб яскраве сонце чи дощ не зупсували відпочинок Вам та вашій компанії.