<footer  id="footer-section"
         class="home-footer">
  <section class="home-footer-top">
    <div class="container">
      <div fxLayout="row"
           fxLayout.lt-sm="column"
           fxLayoutWrap="nowrap">

        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Контакти</b></h4>
          <mat-list>

            <mat-list-item>
              <mat-icon mat-list-icon color="accent">calendar_today</mat-icon>
              <h5 matLine><b>Понеділок - Неділя</b></h5>
              <p matLine>з 8:00 до 23:00</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon color="accent">phone</mat-icon>
              <h5 matLine><b>Телефон</b></h5>
              <p matLine>(097) 457 27 91</p>
              <p matLine>Володимир</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon color="accent">computer</mat-icon>
              <h5 matLine><b>Facebook</b></h5>
              <p matLine><a href="www.facebook.com/albatroz.lviv">facebook.com/albatroz.lviv</a></p>
            </mat-list-item>

          </mat-list>
        </div>

        <div fxFlex="50" class="footer-box">
          <h4 class="footer-box-title"><b>Проїзд</b></h4>
          <mat-list>

            <mat-list-item>
              <mat-icon mat-list-icon color="accent">location_on</mat-icon>
              <h5 matLine><b>Адреса</b></h5>
              <p matLine>Львівська обл., Жовківський р-н.,</p>
              <p matLine>с. Воля-Гомулецька, вул. Озерна 6</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon color="accent">directions_bus</mat-icon>
              <h5 matLine><b>Маршрутка</b></h5>
              <p matLine>22 від клубу "Малевич"</p>
            </mat-list-item>

            <mat-list-item>
              <mat-icon mat-list-icon color="accent">directions_car</mat-icon>
              <h5 matLine><b>З Брюхович</b></h5>
              <p matLine>поворот направо біля чебуречної</p>
            </mat-list-item>

          </mat-list>

        </div>

      </div>
    </div>
  </section>
</footer>