<section id="contact-section" class="home-section" [ngClass]="{'light-gray': backgroundGray}">
  <div class="container">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="20px">

      <div fxFlex="33.333">
        <h2><strong>Кафе</strong></h2>
        <p>На території бази знаходиться кафе оформлене у мисливському стилі, що створює затишну атмосферу. Зкуштуйте смачної української кухні чи наші фірмові страви - деруни по селянськи (в глечику зі свининою) чи рибу запечену з овочами.</p>
        <p>Також у нашій крамнчці Ви можете придбати морозиво, проходжувальні напої, пиво та дещо міцніше.</p>
      </div>

      <div fxFlex="66.666">
        <img *ngFor="let item of items; index as i"
             [lightbox]="i"
             [src]="item.data.thumb">
      </div>

    </div>
  </div>
</section>